:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.square{
  padding: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #242424;
  cursor: pointer;
  font-size: 1.5rem;
}

.s0{
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.s1{
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.s2{
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

.s3{
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.s4{
  border: 1px solid gray;
}

.s5{
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.s6{
  border-right: 1px solid gray;
  border-top: 1px solid gray;
}

.s7{
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.s8{
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.super-board{
  display: flex;
  flex-wrap: wrap;
  width: 750px;

}

.board{
  display: flex;
  position: relative;
  flex-wrap: wrap;
	place-content: center;
  width: 33.333333%;
  padding: 30px;
}



.overlay-board{
  display: flex;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 7.5rem;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  white-space: nowrap;
}

.rules-container{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 55;
}

.rules{
  width: 60%;
  height: 60%;
  background-color: #242424;
  border-radius: 30px;
  box-shadow:0px 0px 30px white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.rules > p {
  padding: 0px 30px;
}

.winner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -2rem;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-size: 4rem;

}

.text-glow-blue{
  text-shadow: 0px 0px 10px #61dafbaa, 0px 0px 20px #61dafbaa, 0px 0px 30px #61dafbaa;
}

.text-glow-red{
  text-shadow: 0px 0px 10px #ff647eaa, 0px 0px 20px #ff647eaa, 0px 0px 30px #ff647eaa;
}

.game-container{
  display: flex;
  align-items: center;
}

.modes-container{
  width: 150px;
  margin-left: 2rem;
  box-shadow: 0px 0px 5px white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.mode-container{
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.mode-icon{
  cursor: pointer;
  width: 70px;
  height: 70px;
  filter: invert(87%) sepia(10%) saturate(0%) hue-rotate(253deg) brightness(93%) contrast(88%);
  -webkit-filter: invert(87%) sepia(10%) saturate(0%) hue-rotate(253deg) brightness(93%) contrast(88%);
}

.mode-icon:hover{
  filter: invert(95%) sepia(59%) saturate(0%) hue-rotate(180deg) brightness(104%) contrast(107%);
  -webkit-filter: invert(95%) sepia(59%) saturate(0%) hue-rotate(180deg) brightness(104%) contrast(107%);
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
*/
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
